@font-face {
    src: url("../fonts/OldTimeyCode.ttf");
    font-family: "Old Timey Code Web";
    font-weight: normal;
    font-style: normal;
};
@font-face {
    src: url("../fonts/OldTimeyMono.ttf");
    font-family: "Old Timey Mono Web";
    font-weight: normal;
    font-style: normal;
};

// scss-docs-start import-stack
// Configuration
@import "../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/tables";
// @import "../../node_modules/bootstrap/scss/forms";
// @import "../../node_modules/bootstrap/scss/buttons";
// @import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/dropdown";
// @import "../../node_modules/bootstrap/scss/button-group";
// @import "../../node_modules/bootstrap/scss/nav";
// @import "../../node_modules/bootstrap/scss/navbar";
// @import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/scss/accordion";
// @import "../../node_modules/bootstrap/scss/breadcrumb";
// @import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrap/scss/progress";
// @import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/close";
// @import "../../node_modules/bootstrap/scss/toasts";
// @import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";
// @import "../../node_modules/bootstrap/scss/spinners";
// @import "../../node_modules/bootstrap/scss/offcanvas";
// @import "../../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack

hr {
    height: 1rem;
    position: relative;
    border: none;
    padding: 0;
    margin: 0;
    opacity: 1;
    &::after {
        overflow-x: hidden;
        content: "----------------------------------------------------------------------------------------------------------------------------------------------------------------";
    }
}

// hr {
//     height: 1rem;
//     position: relative;
//     border: none;
//     padding: 0;
//     margin: 0;
//     opacity: 1;
//     &::after {
//         position: absolute;
//         top: 0.5rem;
//         left: 0;
//         width: 100%;
//         height: 1px;
//         border-top: 1px solid var(--border-color);
//         content: '';
//     }
// }

.section {
    --column-1: 12ch;
    --column-1-padding: 1ch;
    @include media-breakpoint-up(lg) {
        --column-1: 18ch;
        --column-1-padding: 2ch;
    }
    display: flex;
    &__header {
        width: var(--column-1);
        flex: 0 0 var(--column-1);
        padding-right: var(--column-1-padding);
        @include media-breakpoint-up(lg) {
            width: 18ch;
            padding-right: 2ch;
        }
    }
    &__body {
        width: calc(100% - var(--column-1));
        flex: 1 1 calc(100% - var(--column-1));
    }
}
.char-list {
    font-size: 200%;
    display: flex;
    flex-flow: row wrap;
    > span {
        display: block;
        height: calc(3ch + 1px);
        width: calc(2ch + 1px);
        margin-right: -1px;
        margin-bottom: -1px;
        padding: 0.5ch;
        border: 1px solid #ccc;
        min-width: 2ch;
    }
}
.char-table {
    &__char-cell {
        font-size: 200%;
        text-align: center;
    }
    &__char {
        display: inline-block;
        height: calc(3ch + 1px);
        width: calc(2ch + 1px);
        padding: 0.5ch;
        border: 1px solid #ccc;
        min-width: 2ch;
    }
}
h1, .h1, h2, .h2 {
    color: inherit;
    text-shadow: none;
}
h3, .h3 {
    color: green;
    text-shadow: none;
}
h4, .h4 {
    color: inherit;
    text-shadow: none;
}
h5, .h5 {
    color: green;
    text-shadow: $bold-text-shadow;
}
h6, .h6 {
    color: inherit;
    text-shadow: $bold-text-shadow;
}
ul {
    list-style: "*\a0\a0\a0";
    padding-left: 4ch;
}
ol {
    padding-left: 4ch;
    &:not(:has(> li:nth-of-type(10))) {
        padding-left: 3ch;
    }
    &:has(> li:nth-of-type(10)) {
        padding-left: 4ch;
    }
}
.old-timey-mono {
    font-family: "Old Timey Mono Web", monospace;
}
.old-timey-code {
    font-family: "Old Timey Code Web", monospace;
}
pre {
    width: 100%;
    font-size: 100%;
    overflow-x: auto;
}
.text-65ch {
    max-width: 65ch;
    margin-left: auto;
    margin-right: auto;
}
.text-75ch {
    max-width: 75ch;
    margin-left: auto;
    margin-right: auto;
}
.dark-blue {
    color: #333399;
}
.dark-green {
    color: #009900;
}
.VCEN { font-feature-settings: "VCEN"; }
.BASE { font-feature-settings: "BASE"; }
.c2pc { font-feature-settings: "c2pc"; }
.pcap { font-feature-settings: "pcap"; }
.c2sc { font-feature-settings: "c2sc"; }
.smcp { font-feature-settings: "smcp"; }
.ss05 { font-feature-settings: "ss05"; }
.ss02 { font-feature-settings: "ss02"; }
.cv01 { font-feature-settings: "cv01"; }
.cv02 { font-feature-settings: "cv02"; }
.cv03 { font-feature-settings: "cv03"; }
.cv04 { font-feature-settings: "cv04"; }
.cv05 { font-feature-settings: "cv05"; }
.cv06 { font-feature-settings: "cv06"; }
.cv07 { font-feature-settings: "cv07"; }
.cv08 { font-feature-settings: "cv08"; }
.cv09 { font-feature-settings: "cv09"; }
.cv10 { font-feature-settings: "cv10"; }
.cv11 { font-feature-settings: "cv11"; }
.cv12 { font-feature-settings: "cv12"; }
.cv13 { font-feature-settings: "cv13"; }
.cv14 { font-feature-settings: "cv14"; }
.fs-200 { font-size: 200%; }
b, strong {
    font-weight: normal;
    text-shadow: $bold-text-shadow;
}
.fw-bold {
    font-weight: normal;
    text-shadow: $bold-text-shadow;
}
