{% extends "_layouts/layout.njk" %}
{% set pageTitle = "Examples" %}

{% macro lorem_ipsum_1() %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat lectus ligula, a commodo magna interdum at. Mauris sed
        tristique sem. Phasellus dignissim sapien nec libero ultrices, ac faucibus ante malesuada. Maecenas sit amet facilisis ipsum. Duis
        finibus et lectus facilisis rutrum. Phasellus sit amet hendrerit nisi. Donec vel diam finibus enim iaculis ultricies nec ut nisl.
        Duis scelerisque dignissim orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In sagittis
        quam non diam consequat egestas. Suspendisse a ligula lacus. Mauris vel vehicula ipsum. Curabitur a libero quis mauris luctus
        molestie.
    </p>
{% endmacro %}
{% macro lorem_ipsum_2() %}
    <p>
        Nulla suscipit, nibh non condimentum lobortis, nisi risus pellentesque leo, vel rhoncus erat magna non neque. In feugiat pharetra
        pretium. Suspendisse sodales porta erat, ut elementum neque. Donec nec urna eu lacus cursus dignissim. Integer bibendum sodales
        metus quis laoreet. Etiam consectetur justo vitae lorem tempus, sed condimentum urna molestie. Vivamus et eros vitae leo dictum
        cursus sit amet sit amet arcu. Nullam nulla dui, pulvinar ac est a, egestas laoreet risus. Sed pretium, lacus eu efficitur
        elementum, lorem justo pretium urna, nec pellentesque mi arcu ut est. In iaculis bibendum odio nec volutpat.
    </p>
{% endmacro %}
{% macro lorem_ipsum_3() %}
    <p>
        Nullam sagittis convallis dolor, vel rhoncus ipsum pharetra sed. Quisque pulvinar dui arcu, ut malesuada odio pulvinar ac. Aliquam
        placerat in nisl a mollis. Cras auctor consectetur nibh, cursus scelerisque elit elementum sagittis. Quisque eleifend pretium
        gravida. Etiam ante ipsum, porta sed ex et, mattis hendrerit orci. Curabitur sed est at purus hendrerit pellentesque.
    </p>
{% endmacro %}
{% macro lorem_ipsum_4() %}
    <p>
        Integer velit odio, dictum et nunc ut, sollicitudin egestas tellus. Donec blandit ex ut turpis porta, et semper elit ornare. Aenean
        ipsum dolor, euismod bibendum tellus nec, ultrices lacinia neque. Cras ultrices vitae est et tempor. Cras at rutrum sapien, et
        eleifend augue. Phasellus ultrices magna eget arcu euismod consequat. Nulla libero orci, cursus at libero eu, bibendum placerat
        purus. Donec venenatis fringilla posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non ipsum metus. Mauris eget
        blandit mauris, a vestibulum arcu. Mauris posuere turpis eu augue tristique venenatis. Vivamus sit amet malesuada odio. Aenean nec
        convallis ipsum. Quisque id pellentesque erat. Phasellus vulputate tincidunt lacus pharetra euismod.
    </p>
{% endmacro %}
{% macro lorem_ipsum_5() %}
    <p>
        In hac habitasse platea dictumst. Maecenas magna tellus, euismod vitae mattis a, fermentum vel ex. Curabitur aliquam neque vitae
        nibh luctus congue. Mauris consequat felis id velit consequat ultricies sed vel nisl. Mauris molestie, augue nec feugiat semper,
        justo turpis laoreet neque, in commodo lectus orci ut diam. Fusce condimentum sagittis ante, nec porta dolor pharetra at. Maecenas
        id pretium nulla.
    </p>
{% endmacro %}

{% block main %}
    <div class="container">
        <div style="font-size: 400%;">
            {{ lorem_ipsum_1() }}
        </div>
        <div style="font-size: 300%;">
            {{ lorem_ipsum_2() }}
        </div>
        <div style="font-size: 200%;">
            {{ lorem_ipsum_3() }}
        </div>
        <div style="font-size: 150%;">
            {{ lorem_ipsum_4() }}
        </div>
        <div style="font-size: 100%;">
            {{ lorem_ipsum_5() }}
        </div>
    </div>
{% endblock %}
