{% extends "_layouts/layout.njk" %}
{% set pageTitle = "Examples" %}

{% macro pi() %}
<pre style="font-family: inherit;">
3.14159265358979323846264338327950288419716939937510582097494459
2307816406286208998628034825342117067982148086513282306647093844
6095505822317253594081284811174502841027019385211055596446229489
5493038196442881097566593344612847564823378678316527120190914564
8566923460348610454326648213393607260249141273724587006606315588
1748815209209628292540917153643678925903600113305305488204665213
8414695194151160943305727036575959195309218611738193261179310511
8548074462379962749
</pre>
{% endmacro %}

{% macro lorem_ipsum_1() %}
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer volutpat lectus ligula, a commodo magna interdum at. Mauris sed
        tristique sem. Phasellus dignissim sapien nec libero ultrices, ac faucibus ante malesuada. Maecenas sit amet facilisis ipsum. Duis
        finibus et lectus facilisis rutrum. Phasellus sit amet hendrerit nisi. Donec vel diam finibus enim iaculis ultricies nec ut nisl.
        Duis scelerisque dignissim orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In sagittis
        quam non diam consequat egestas. Suspendisse a ligula lacus. Mauris vel vehicula ipsum. Curabitur a libero quis mauris luctus
        molestie.
    </p>
{% endmacro %}
{% macro lorem_ipsum_2() %}
    <p>
        Nulla suscipit, nibh non condimentum lobortis, nisi risus pellentesque leo, vel rhoncus erat magna non neque. In feugiat pharetra
        pretium. Suspendisse sodales porta erat, ut elementum neque. Donec nec urna eu lacus cursus dignissim. Integer bibendum sodales
        metus quis laoreet. Etiam consectetur justo vitae lorem tempus, sed condimentum urna molestie. Vivamus et eros vitae leo dictum
        cursus sit amet sit amet arcu. Nullam nulla dui, pulvinar ac est a, egestas laoreet risus. Sed pretium, lacus eu efficitur
        elementum, lorem justo pretium urna, nec pellentesque mi arcu ut est. In iaculis bibendum odio nec volutpat.
    </p>
{% endmacro %}
{% macro lorem_ipsum_3() %}
    <p>
        Nullam sagittis convallis dolor, vel rhoncus ipsum pharetra sed. Quisque pulvinar dui arcu, ut malesuada odio pulvinar ac. Aliquam
        placerat in nisl a mollis. Cras auctor consectetur nibh, cursus scelerisque elit elementum sagittis. Quisque eleifend pretium
        gravida. Etiam ante ipsum, porta sed ex et, mattis hendrerit orci. Curabitur sed est at purus hendrerit pellentesque.
    </p>
{% endmacro %}
{% macro lorem_ipsum_4() %}
    <p>
        Integer velit odio, dictum et nunc ut, sollicitudin egestas tellus. Donec blandit ex ut turpis porta, et semper elit ornare. Aenean
        ipsum dolor, euismod bibendum tellus nec, ultrices lacinia neque. Cras ultrices vitae est et tempor. Cras at rutrum sapien, et
        eleifend augue. Phasellus ultrices magna eget arcu euismod consequat. Nulla libero orci, cursus at libero eu, bibendum placerat
        purus. Donec venenatis fringilla posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In non ipsum metus. Mauris eget
        blandit mauris, a vestibulum arcu. Mauris posuere turpis eu augue tristique venenatis. Vivamus sit amet malesuada odio. Aenean nec
        convallis ipsum. Quisque id pellentesque erat. Phasellus vulputate tincidunt lacus pharetra euismod.
    </p>
{% endmacro %}
{% macro lorem_ipsum_5() %}
    <p>
        In hac habitasse platea dictumst. Maecenas magna tellus, euismod vitae mattis a, fermentum vel ex. Curabitur aliquam neque vitae
        nibh luctus congue. Mauris consequat felis id velit consequat ultricies sed vel nisl. Mauris molestie, augue nec feugiat semper,
        justo turpis laoreet neque, in commodo lectus orci ut diam. Fusce condimentum sagittis ante, nec porta dolor pharetra at. Maecenas
        id pretium nulla.
    </p>
{% endmacro %}

{% block main %}
    <div class="container">
        <h2>Caps to Petite Caps (c2pc)</h2>
        <div style='font-feature-settings: "c2pc" 1;'>
            {{ lorem_ipsum_1() }}
        </div>
        <h2>Caps to Small Caps (c2sc)</h2>
        <div style='font-feature-settings: "c2sc" 1;'>
            {{ lorem_ipsum_2() }}
        </div>
        <h2>Petite Caps (pcap)</h2>
        <div style='font-feature-settings: "pcap" 1;'>
            {{ lorem_ipsum_3() }}
        </div>
        <h2>Small Caps (smcp)</h2>
        <div style='font-feature-settings: "smcp" 1;'>
            {{ lorem_ipsum_4() }}
        </div>
        <h2>Alternate Small L (cv02)</h2>
        <div style='font-feature-settings: "cv02" 1;'>
            {{ lorem_ipsum_5() }}
        </div>
        <h2>Curvy Small L (cv10)</h2>
        <div style='font-feature-settings: "cv10" 1;'>
            {{ lorem_ipsum_5() }}
        </div>
        <h2>Dotted Zero (cv05)</h2>
        <div style=' font-feature-settings: "cv05" 1;'>
            {{ pi() }}
        </div>
        <h2>Larger-Dotted Zero (cv06)</h2>
        <div style=' font-feature-settings: "cv06" 1;'>
            {{ pi() }}
        </div>
        <h2>Code (ss01): Dotted Zero (cv05)</h2>
        <div style='font-feature-settings: "ss01" 1, "cv05" 1;'>
            {{ pi() }}
        </div>
        <h2>Code (ss01): Larger-Dotted Zero (cv06)</h2>
        <div style='font-feature-settings: "ss01" 1, "cv06" 1;'>
            {{ pi() }}
        </div>
        <h2>Code: Dotted Zero (cv05)</h2>
        <div style='font-family: "Old Timey Code"; font-feature-settings: "cv05" 1;'>
            {{ pi() }}
        </div>
        <h2>Code: Larger-Dotted Zero (cv06)</h2>
        <div style='font-family: "Old Timey Code"; font-feature-settings: "cv06" 1;'>
            {{ pi() }}
        </div>
    </div>
{% endblock %}
