.DS_Store
*.tmp.*
*.featfreeze.otf
__pycache__/
tmp/testfonts/
website/fonts/ttf/*.ttf
var/.test-build-number.lock
var/.test-build-number.txt
var/strokes.log
tmp/_build
src/build
testfonts
.test-build-number.lock
.test-build-number.txt
typescript
dist/sfd/
node_modules/
