<header class="site-header" id="siteHeader">
    <div class="container">
        <nav>
            <ul class="list-unstyled list-inline mb-0">
                <li class="list-inline-item">
                    <a href="./index.html">Old Timey Mono</a>
                </li>
                <li class="list-inline-item">
                    <a href="./charset.html">Character Set</a>
                </li>
                <li class="list-inline-item">
                    <a href="./examples.html">Examples</a>
                </li>
                <li class="list-inline-item">
                    <a href="./code.html">Code Examples</a>
                </li>
                <li class="list-inline-item">
                    <a href="./universal.html">UDHR</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
