<header class="udhr-header">
    <div class="container">
        <nav>
            Universal Declaration of Human Rights
            <ul class="list-unstyled list-inline mb-0 d-inline-block">
                <li class="list-inline-item">
                    <a href="./universal.html">English</a>
                </li>
                <li class="list-inline-item">
                    <a href="./universal-ua.html">українська</a> (Ukrainian)
                </li>
                <li class="list-inline-item">
                    <a href="./universal-gr.html">ελληνικά</a> (Greek)
                </li>
            </ul>
        </nav>
    </div>
</header>
