<footer class="site-footer">
    <div class="container">
        <hr>
        <p>
            Copyright 2026 <a href="mailto:dsembry@gmail.com">Darren Embry</a>.
            <a target="_blank" href="ofl.html">SIL-OFL 1.1</a>.
        </p>
    </div>
</footer>
