<header class="site-header">
    <div class="container mt-3">
        <ul class="list-unstyled d-flex mb-0 align-items-center">
            <li class="list-inline-item align-baseline">
                <a href="./">Old Timey Mono</a>
            </li>
            <li class="list-inline-item align-baseline">
                <a href="./code.html">Old Timey Code</a>
            </li>
            <li class="list-inline-item align-baseline">
                <a href="./stylistics.html">Stylistics</a>
            </li>
            <li class="list-inline-item align-baseline">
                <a href="https://github.com/dse/old-timey-mono-font">GitHub</a>
            </li>
            <li class="list-inline-item align-baseline" style="flex: 1 0 auto; text-align: right;">
                <pre class="mb-0 fw-bold">
<a href="https://github.com/dse/old-timey-mono-font/releases" style="color: #009900; text-decoration: none;">+-------------+
| Download \/ |
+-------------+</a></pre>
            </li>
        </ul>
        <hr>
    </div>
</header>
