{# -*- fill-column: 132 -*- #}
{% set pageTitle = "Home" %}
{% set htmlAttributes = "translate=\"no\"" %}
{% extends "_layouts/default.njk" %}
{% block main %}
    <div class="container">
        <h1>
            Old Timey Code
        </h1>
        <hr>
        <section class="section">
            <header class="section__header">
                <h2 class="h6">Old Timey Code</h2>
            </header>
            <div class="section__body">
                <div class="pre-wrapper">
                    <pre class="old-timey-code">
send(to, from, count)
register short *to, *from;
register count;
{
        register n=(count+7)/8;
        switch(count%8){
        case 0: do{     *to = *from++;
        case 7:         *to = *from++;
        case 6:         *to = *from++;
        case 5:         *to = *from++;
        case 4:         *to = *from++;
        case 3:         *to = *from++;
        case 2:         *to = *from++;
        case 1:         *to = *from++;
                }while(--n>0);
        }
}</pre>
                </div>
                <div class="pre-wrapper">
                    <pre class="old-timey-code">
float Q_rsqrt(float number) {
     long i;
     float x2, y;
     const float threehalfs = 1.5F;

     x2 = number * 0.5F;
     y  = number;
     i  = *(long*)&y;                             // evil floating point bit level hacking
     i  = 0x5f3759df - ( i >> 1 );                // what the heck?
     y  = *(float*)&i;
     y  = y * ( threehalfs - ( x2 * y * y ) );    // 1st iteration
     // y  = y * ( threehalfs - ( x2 * y * y ) ); // 2nd iteration, this can be removed

     return y;
}</pre>
                </div>
            </div>
        </section>
        <hr>
        <section class="section">
            <header class="section__header">
                <h2 class="h6">
                    <span class="dark-green">Old Timey Code</span> vs. Mono
                </h2>
            </header>
            <div class="section__body">
                <div class="mb-3">
                    <pre class="old-timey-mono mb-0">0123456789aces<wbr>.,:;‘’“”=()[]{}`~</pre>
                    <pre class="old-timey-code mb-0 dark-green">0123456789aces<wbr>.,:;‘’“”=()[]{}`~</pre>
                </div>
                <div class="mb-3" style="font-size: 200%;">
                    <pre class="old-timey-mono mb-0">0123456789aces<wbr>.,:;‘’“”=`~<wbr>()[]{}</pre>
                    <pre class="old-timey-code mb-0 dark-green">0123456789aces<wbr>.,:;‘’“”=`~<wbr>()[]{}</pre>
                </div>
                <p>
                    Old Timey Mono is a best-effort faithful revival of Reproducing Typewriter.  <span class="dark-green">Old Timey Code</span>
                    alters some glyphs to make it more usable for coding.
                    Note the digits zero and one, the more open arpetures in the letters “aces”,
                    the larger punctuation marks, equal sign, brackets, backtick, and tilde.
                </p>
            </div>
        </section>
    </div><!-- container -->
{% endblock %}
