{# -*- fill-column: 132 -*- #}
{% set pageTitle = "Home" %}
{% set htmlAttributes = "translate=\"no\"" %}
{% extends "_layouts/default.njk" %}
{% from "_macros/charlist.njk" import charList as charList %}
{% block main %}
    <div class="container">
        <h1>
            Stylistic Variants
        </h1>
        <hr>
        <section class="section">
            <header class="section__header">
                <h2 class="h6">
                    Caps to Small Caps (c2sc)
                </h2>
            </header>
            <div class="section__body">
                <div style="font-feature-settings: 'c2sc';">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut luctus eros. Sed sed
                        vestibulum turpis. Etiam tincidunt nisl aliquam ornare sollicitudin. Donec venenatis purus vitae
                        facilisis lacinia. Suspendisse dignissim massa eget lectus feugiat tristique. Ut enim metus,
                        dignissim sed bibendum sed, efficitur ut ipsum. Nunc sed diam efficitur, venenatis arcu eu,
                        facilisis erat. Fusce leo augue, vehicula quis rhoncus eu, ornare ac sem. Nulla facilisi. Nam
                        sagittis urna ut elit congue, a vehicula lorem molestie. Curabitur id feugiat arcu. Vestibulum
                        dignissim urna faucibus arcu finibus, at pharetra ex egestas. Sed sed sapien est. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                </div>
            </div>
        </section>
        <hr>
        <section class="section">
            <header class="section__header">
                <h2 class="h6">
                    Lowercase to Small Caps (smcp)
                </h2>
            </header>
            <div class="section__body">
                <div style="font-feature-settings: 'smcp';">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut luctus eros. Sed sed
                        vestibulum turpis. Etiam tincidunt nisl aliquam ornare sollicitudin. Donec venenatis purus vitae
                        facilisis lacinia. Suspendisse dignissim massa eget lectus feugiat tristique. Ut enim metus,
                        dignissim sed bibendum sed, efficitur ut ipsum. Nunc sed diam efficitur, venenatis arcu eu,
                        facilisis erat. Fusce leo augue, vehicula quis rhoncus eu, ornare ac sem. Nulla facilisi. Nam
                        sagittis urna ut elit congue, a vehicula lorem molestie. Curabitur id feugiat arcu. Vestibulum
                        dignissim urna faucibus arcu finibus, at pharetra ex egestas. Sed sed sapien est. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                </div>
            </div>
        </section>
        <hr>
        <section class="section">
            <header class="section__header">
                <h2 class="h6">
                    Caps to Petite Caps (c2pc)
                </h2>
            </header>
            <div class="section__body">
                <div style="font-feature-settings: 'c2pc';">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut luctus eros. Sed sed
                        vestibulum turpis. Etiam tincidunt nisl aliquam ornare sollicitudin. Donec venenatis purus vitae
                        facilisis lacinia. Suspendisse dignissim massa eget lectus feugiat tristique. Ut enim metus,
                        dignissim sed bibendum sed, efficitur ut ipsum. Nunc sed diam efficitur, venenatis arcu eu,
                        facilisis erat. Fusce leo augue, vehicula quis rhoncus eu, ornare ac sem. Nulla facilisi. Nam
                        sagittis urna ut elit congue, a vehicula lorem molestie. Curabitur id feugiat arcu. Vestibulum
                        dignissim urna faucibus arcu finibus, at pharetra ex egestas. Sed sed sapien est. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                </div>
            </div>
        </section>
        <hr>
        <section class="section">
            <header class="section__header">
                <h2 class="h6">
                    Lowercase to Petite Caps (pcap)
                </h2>
            </header>
            <div class="section__body">
                <div style="font-feature-settings: 'pcap';">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ut luctus eros. Sed sed
                        vestibulum turpis. Etiam tincidunt nisl aliquam ornare sollicitudin. Donec venenatis purus vitae
                        facilisis lacinia. Suspendisse dignissim massa eget lectus feugiat tristique. Ut enim metus,
                        dignissim sed bibendum sed, efficitur ut ipsum. Nunc sed diam efficitur, venenatis arcu eu,
                        facilisis erat. Fusce leo augue, vehicula quis rhoncus eu, ornare ac sem. Nulla facilisi. Nam
                        sagittis urna ut elit congue, a vehicula lorem molestie. Curabitur id feugiat arcu. Vestibulum
                        dignissim urna faucibus arcu finibus, at pharetra ex egestas. Sed sed sapien est. Class aptent
                        taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </p>
                </div>
            </div>
        </section>

        <hr>
        <section class="section">
            <header class="section__header">
                <h2 class="h6">
                    VCEN - Vertically Centered Glyphs
                </h2>
            </header>
            <div class="section__body">
                <div class="mb-3">
                    <div class="fs-200">
#1# 25% 2*3+4^5=1030 5-4/2=3 8|7=15 23:59 @H@ /H/ \H\ (H) [H] {H} &lt;H&gt; ~H~
                    </div>
                    <div class="VCEN fs-200">
#1# 25% 2*3+4^5=1030 5-4/2=3 8|7=15 23:59 @H@ /H/ \H\ (H) [H] {H} &lt;H&gt; ~H~
                    </div>
                </div>
                <p>
                    Many glyphs are normally centered at half the ex-height, or the vertical middle of the lower case.
                    This stylistic set aligns them with half the cap-height.
                </p>
            </div>
        </section>

        <hr>
        <section class="section">
            <header class="section__header">
                <h2 class="h6">
                    ss05 - Larger Punctuation
                </h2>
            </header>
            <div class="section__body">
                <div class="mb-3">
                    <div class="fs-200">
                        ‘a’ “a” ‚‛ „‟ .,:;⁏ ~ ‧․‥…
                    </div>
                    <div class="ss05 fs-200">
                        ‘a’ “a” ‚‛ „‟ .,:;⁏ ~ ‧․‥…
                    </div>
                </div>
                <p>
                    “Baked-in” to Old Timey Code.
                </p>
            </div>
        </section>

        <hr>
        <section class="section">
            <header class="section__header">
                <h2 class="h6">
                    ss02 - Code Brackets
                </h2>
            </header>
            <div class="section__body">
                <div class="mb-3">
                    <div class="fs-200">
                        () [] {}
                    </div>
                    <div class="ss02 fs-200">
                        () [] {}
                    </div>
                </div>
                <p>
                    “Baked-in” to Old Timey Code.
                </p>
            </div>
        </section>
    </div>
{% endblock %}
